<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link" asp-controller="Student" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Students
            </a>
        </div>
    </div>
</nav>
